@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BikeSharing360</h1>
    <p class="lead">A place for you to share bikes in Perth.</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Road bikes</h2>
        <p><img src="~/Content/roadbike.jpg" alt="Road Bike" height="200" /></p>
        <p><a href="@Url.Action("About")" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mountain bikes</h2>
        <p><img src="~/Content/mountainbike.jpg" alt="Mountain Bike" height="200" /></p>
        <p><a href="@Url.Action("About")" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kids bikes</h2>
        <p><img src="~/Content/kidsbike.png" alt="Kids Bike" height="200" /></p>
        <p><a href="@Url.Action("About")" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
</div>